:root{
    --font :'Ubuntu', sans-serif;
    --colorPrimario : rgb(104, 163, 102);
    --colorSecundario : rgb(228, 238, 227);
    --colordeco : rgba(53, 204, 40, 0.795);
    --fontSecundaria : 'Arial';
}


*{
 font-family: var(--font);
}
* a{
    text-decoration: none;
}
/*COMPETENCIAS*/
.competencias{
    background-color: var(--colorPrimario);

}
.foto img{
    position: inherit;
    border-radius: 50%;
    max-width: 150px;
    max-height: 300px;
    
}
.foto{
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
}
/*CONTACTO*/
@media (width:576px) {
    .container{
        margin: auto;
    }
}
.contacto{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
   

}
.contacto a{

    color: var(--colorSecundario);
}
 .contacto i{
    margin-left: auto;
} 
@media (max-width : 576px) {
    .c{
        margin-left:-60px;
        display:flex;
        flex-direction: column;
        justify-content: start;
    }
    .contacto i{
       visibility: hidden;
    }


}

/***********ENCABEZADO************/
.encabezado{
height: 50px;
 width: 100%;
}

/************PERFIL************/
.perfil h3{
    line-height: 1rem;
}
.perfil-parrafo{
     text-align: left;
}

/************EXPERIENCIA LABORAL************/
.cards{
    
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    
}
.cards h5{
    text-decoration: underline ;
    text-align: center;
    border-radius: 30px;
}
.tjt-1, .tjt-2{
    border: 1px solid rgb(172, 169, 169);
}


@media (max-width : 576px) {
    .cards{
        display: grid;
        grid-template-columns: auto; 
    }

}
@media (max-width : 768px) {
    .cards{
        display: grid;
        grid-template-columns: auto; 
    }

}

/*******EDUCACION*********/

ul{list-style-type: none;}

/************FOOTER************/
.footer{
    height: 20px;
    background-color: rgb(78, 78, 78);
    color: white;
}


/*MEDIA QUERY*/
